.container {
    display: flex;
    height: auto;
    border-radius: 10px;
    flex-direction: column;
    background-color: #fff;
}

.letterWrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    margin: 1rem;
}

@media only screen and (max-width: 767px) {
    .letterWrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        margin: 0.5rem 0;
    }
}

.letterTopRow {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .letterTopRow {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.title {
    display: flex;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.letterBox {
    margin-top: 1rem;
    display: flex;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    gap: 0.5rem;
    height: 100%;
}

@media only screen and (max-width: 767px) {
    .letterBox {
        margin-top: 1rem;
        display: flex;
        padding: 10px;
        flex-direction: column;
        border-radius: 10px;
        gap: 1rem;
        height: 100%;
    }
}

.letterRow {
    display: flex;
    gap: 1rem;
}

.left {
    flex: 1.2;
}

.right {
    flex: 10.8;
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}

.subtitle {
    font-size: 1.05rem;
}

.subtitleName {
    font-size: 1.05rem;
    text-transform: capitalize;
}

.letterDetails {
    font-size: 1.05rem;
    text-transform: capitalize;
}

.letterBodyRow {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0.5rem 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.letterTopBtn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    padding: 9px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 0.92rem;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .letterTopBtn {
        position: absolute;
        right: 0rem;
        top: 0rem;
        display: flex;
        padding: 7px 15px;
        color: #fff;
        font-weight: 600;
        font-size: 0.9rem;
        background-color: red;
        border-radius: 10px;
        cursor: pointer;
    }
}

.manageBtn {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.dataContainer {
    display: flex;
    border-radius: 10px;
    border-top: 1px solid rgb(255, 230, 230);
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    padding-top: 1rem;
}

.dataContainerRow {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
}

.dataContainerManageRow {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: start;
}

@media only screen and (max-width: 767px) {
    .dataContainerManageRow {
        width: 100%;
        padding: 0.5rem 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: start;
    }
}

.statustitle {
    font-size: 1.1rem;
}

.actionCol {
    flex: 6;
}

.commentCol {
    flex: 6;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    flex-direction: column;
    box-shadow: rgba(201, 201, 201, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 767px) {
    .commentCol {
        flex: 6;
        display: flex;
        gap: 0.5rem;
        width: 100%;
        padding: 1rem;
        flex-direction: column;
        box-shadow: rgba(201, 201, 201, 0.2) 0px 8px 24px;
    }
}

.manageTitle {
    font-size: 1.1rem
}

@media only screen and (max-width: 767px) {
    .manageTitle {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.actionCol {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    font-size: 1rem;
    padding: 1rem;
    box-shadow: rgba(201, 201, 201, 0.2) 0px 8px 24px;
}

@media only screen and (max-width: 767px) {
    .actionCol {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        font-size: 1rem;
        padding: 1rem;
        width: 100%;
        box-shadow: rgba(201, 201, 201, 0.2) 0px 8px 24px;
    }
}

.statusYello {
    font-size: 1.2rem;
    color: rgb(255, 136, 0);
    font-weight: 600;
}

.statusRed {
    font-size: 1.2rem;
    color: red;
    font-weight: 500;
}

.statusGreen {
    font-size: 1.2rem;
    color: rgb(0, 197, 0);
    font-weight: 800;
}

.loader {
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: center;
}