.SideNavBar {
    flex: 2.2;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

@media only screen and (max-width: 767px) {
    .SideNavBar {
        flex: 2.2;
        width: 100%;
        height: 100%;
        padding: 0 1rem;
    }
}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7rem;
}

.itemBox {
    display: flex;
    gap: 0.7rem;
    width: 100%;
    padding: 0 0.1rem;
    align-items: center;
    justify-content: space-between;
}

.navWrap {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

@media only screen and (max-width: 767px) {
    .navWrap {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 1rem;
    }
}

.logo {
    height: 4rem;
}

@media only screen and (max-width: 767px) {
    .logo {
        display: none;
    }
}

.navCol {
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    padding: 0.05rem;
    gap: 5px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    color: #7a7a7a;
}

.navItemBoxAuto {
    height: 3.5rem;
    border-radius: 10px;
    gap: 0.7rem;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.navItemBoxAuto:hover {
    background-color: #fac0c0
}

.expandBox {
    display: flex;
    flex-direction: column;
    height: auto;
}

.navItemBox {
    height: 3.5rem;
    border-radius: 10px;
    gap: 0.7rem;
    padding: 0 0.5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
}

.itemLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.navItemBox:hover {
    background-color: rgb(255, 225, 225);
}

.logoutBox {
    height: 3.5rem;
    border-radius: 10px;
    gap: 0.7rem;
    padding: 0 0.5rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2.5rem;
    color: red;
    width: 100%;
    background-color: #fff2f2
}

.navtitle {
    font-size: 1.05rem;
}

.selectedBackgroundColor {
    background-color: #fff2f2;
}

.selectedColor {

    color: red;
}

.navItem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.itemRight {
    display: none;
}

@media only screen and (max-width: 767px) {
    .itemRight {
        display: flex;
    }
}

.credits {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #7a7a7a;
    font-size: 0.5rem;
    letter-spacing: 0.71px;
}

@media only screen and (max-width: 767px) {
    .credits {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0.2rem;
        width: 100%;
        align-items: center;
        justify-content: center;
        color: #7a7a7a;
        font-size: 0.7rem;
        letter-spacing: 0.71px;
    }
}