.fullPage {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.rightSide {
    flex: 10;
    width: 78%;
    height: 100%;
}

.mainContent {
    background: rgb(255, 248, 248);
    padding:1.5rem 1.5rem 0 1.5rem ;
    width: 100%;
    height: 87%;
}