.container {
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
}

@media only screen and (max-width: 767px) {
    .container {
        background-color: #fff;
        border-radius: 10px;
        padding: 0.4rem;
    }
}

.dashboardTopRow {
    display: flex;
    width: 100%;
    padding: 0rem 0rem 0.5rem 0rem;
    border-bottom: 1px solid rgb(255, 237, 237);
}

@media only screen and (max-width: 767px) {
    .dashboardTopRow {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        padding: 0 0 0.7rem 0;
        border-bottom: 1px solid rgb(255, 241, 241);
    }
}

.dashboardRowLeft {
    display: flex;
    flex: 4;
    width: 100%;
}


@media only screen and (max-width: 767px) {
    .dashboardRowLeft {
        display: flex;
        flex: 12;
        width: 100%;
    }
}

.dashboardLoadingRow {
    height: 70vh;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 0.5rem;
    overflow-y: auto;
}

.dashboardRowRight {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
    flex: 8;
}

@media only screen and (max-width: 767px) {
    .dashboardRowRight {
        width: 100%;
        display: none;
        align-items: center;
        justify-content: end;
        gap: 0.5rem;
        flex: 8;
    }
}

.searchWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
    background-color: rgb(255, 242, 242);
    border-radius: 30px;
    width: 90%;
}

@media only screen and (max-width: 767px) {
    .searchWrap {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0 10px;
        background-color:rgb(255, 242, 242);
        border-radius: 30px;
        width: 100%;
    }
}

.icon {
    font-size: 1.8rem;
    color: #949494;
}

.dashboardRowLeftSearch {
    height: 3rem;
    width: 100%;
    outline: none;
    border: none;
    background-color: rgb(255, 242, 242);
    border-radius: 10px;

}

.apllyBtn {
    display: flex;
    padding: 9px 15px;
    color: #fff;
    font-weight: 600;
    font-size: 0.92rem;
    background-color: red;
    border-radius: 10px;
}

.dashboardRow {
    height: 70vh;
    overflow-y: auto;
}

@media only screen and (max-width: 767px) {
    .dashboardRow {
        height: 77vh;
        overflow-y: auto;
    }
}

.LetterListContainer {
    width: 100%;
    height: 4.3rem;
    padding: 0 1.3rem;
    border-radius: 10px;
    border-bottom: 1px solid rgb(255, 238, 238);
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .LetterListContainer {
        width: 100%;
        height: 5rem;
        padding: 0 0.2rem;
        border-radius: 10px;
        border-bottom: 1px solid rgb(255, 241, 241);
        display: flex;
        align-items: center;
    }
}

.left {
    display: flex;
    flex: 0.5;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
}

@media only screen and (max-width: 767px) {
    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0.5;
    }
}

.center {
    display: flex;
    justify-content: space-between;
    flex: 6;
    height: 100%;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .center {
        display: flex;
        justify-content: space-between;
        flex: 4;
        height: 100%;
        align-items: center;
    }
}

.subjectRes {
    display: none;
}

@media only screen and (max-width: 767px) {
    .subjectRes {
        display: flex;
        text-transform: capitalize;
    }
}

.centertwo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 2.5;
}

@media only screen and (max-width: 767px) {
    .centertwo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex: 2.5;
    }
}

.unread {
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .unread {
        color: red;
        font-size: 1.3rem;
        cursor: pointer;
    }
}

.read {
    color: rgb(94, 94, 94);
    font-size: 1.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .read {
        color: rgb(129, 129, 129);
        font-size: 1.3rem;
        cursor: pointer;
    }
}

.countNo {
    font-size: 1rem;
}

.actionIcon {
    font-size: 1.5rem;
    cursor: pointer;
    color: rgb(94, 94, 94);
}

@media only screen and (max-width: 767px) {
    .actionIcon {
        font-size: 1.3rem;
        cursor: pointer;
        color: rgb(94, 94, 94);
    }
}

.subject {
    text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
    .subject {
        text-transform: capitalize;
        display: none;
    }
}

.date {
    font-size: 1rem;
}

@media only screen and (max-width: 767px) {
    .date {
        font-size: 0.7rem;
    }
}

.hoverIcon {
    padding: 0.7rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

@media only screen and (max-width: 767px) {
    .hoverIcon {
        padding: 0.4rem;
        background-color: rgb(255, 255, 255);
        border-radius: 50%;
    }
}

.hoverIcon:hover {
    background-color: #e6e6e6;
}

.rightItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@media only screen and (max-width: 767px) {
    .rightItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
}

.removeBtn {
    display: flex;
    padding: 9px 15px;
    color: #ff0000;
    font-weight: 600;
    border: 0.5px solid red;
    font-size: 0.92rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.deleteConfirm{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(207, 207, 207, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.deleteConfirmBox{
    background-color: #fff;
    width: 40%;
    height: 60%;
    padding: 2rem;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: column ;
    border-radius: 20px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 767px) {
    .deleteConfirmBox{
        background-color: #fff;
        width: 90%;
        height: 60%;
        padding: 2rem;
        flex-wrap: wrap;
        text-align: center;
        flex-direction: column ;
        border-radius: 20px;
        gap: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.deleteTitle{
    font-size: 1rem;
    font-weight: 400;
}

.high{
    font-weight: 600;
    font-size: 1rem;
}

.cancel{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: red;
    border: 1px solid red;
    outline: none;
    background-color: rgb(255, 255, 255);
}

.delete{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    border: none;
    outline: none;
    background-color: rgb(255, 0, 0);
}

.deleteImage{
    font-size: 5rem;
    color: red;
}