.container {
    position: relative;
    background-color: #fff;
    height: 100%;
    padding: 1rem;
    border-radius: 10px;
}

.wrap {
    display: flex;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.bulk {
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid rgb(255, 157, 157);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
    padding: 15px 27px;
}

.topRow {
    position: relative;
    width: 100%;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
}

.actionBox {
    display: flex;
    margin-top: 1rem;
    width: 80%;
    gap: 1.8rem;
    justify-content: space-between;
    flex-direction: column;
}

.left {
    flex: 5;
}

.row {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.txtInput {
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 245, 245);
    height: 4rem;
    border-radius: 10px;
    outline: none;
}

.item {
    flex: 6;
}

.cancel {
    display: flex;
    padding: 12px 0;
    background-color: #fff;
    color: red;
    border: 1px solid red;
    font-weight: 500;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    outline: none;
}

.submit {
    display: flex;
    background-color: red;
    border: 1px solid red;
    width: 100%;
    color: #fff;
    font-weight: 500;
    padding: 12px 0;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    outline: none;
}

.createTop {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.innWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.createTitle {
    font-weight: 500;
    color: red;
    font-size: 1.2rem;
}

.uploadBox {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.uploadTxt {
    font-size: 1.1rem;
    font-weight: 500;
}

.upload {
    width: 70%;
    border-radius: 20px;
    border: 2px dashed rgb(255, 173, 173);
    height: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.selectBtn {
    border: 1px solid red;
    padding: 10px 15px;
    border-radius: 10px;
}

.actionBtnRow {
    display: flex;
    width: 70%;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

.uploadBtn {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: red;
}

.cancelBtn {
    border-radius: 10px;
    width: 100%;
    border: 1px solid red;
    padding: 10px;
}

/* .modalWrap{
    position: absolute;
    left: 50%;
    top: 50%;
} */

.modalWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(207, 207, 207, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.modalContainer {
    background: white;
    padding: 20px;
    border-radius: 8px;
}