.container {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    padding: 1rem;
    height: 100%;
}

.wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;
}

.titleRow {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    color: red;
}

.manageRow {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.manageItemTitle {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
}

.itemtitle {
    font-size: 1.09rem;
}

.manageItemRow {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
}

.verticalLine {
    height: 100%;
    border-left: 1px solid #ffd2d2;
    /* You can change the color as needed */
    margin: 0 10px;
    /* Adjust the margin as needed */
}

.manageItemLeft {
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.manageItemRight {
    flex: 4;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 0.5rem;
}

.manageItemTop {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    gap: 1rem;
    border-bottom: 1px solid rgb(255, 190, 190);
    justify-content: space-between;
}

.searchBox {
    flex: 4.5;
    width: 100%;
}

.manageTopActions {
    flex: 7.5;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}

.search {
    background-color: rgb(255, 237, 237);
    padding: 10px;
    border-radius: 50px;
    width: 100%;
    outline: none;
    border: none;
}

.search::placeholder {
    letter-spacing: 1px;
}

.actionBtn {
    padding: 8px 10px;
    border: none;
    background-color: red;
    color: #fff;
    font-size: 0.9rem;
    border-radius: 10px;
    font-weight: 500;
}

.listContainer {
    max-height: 20rem;
    overflow-y: auto;
}

.userListContainer {
    display: flex;
    width: 100%;
    height: 4rem;
    border-radius: 10px;
    align-items: center;
    border-bottom: 1px solid rgb(255, 213, 213);
}

.left {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: start;
}

.right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.manageRight{
    width: 100%;
    display: flex;
    flex-direction: column;
}