* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

a{
  text-decoration: none;
  color: inherit;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color:rgb(255, 219, 219);;
  border-radius: 5px;
}

*::-webkit-scrollbar-track:hover {
  background-color:rrgba(255, 194, 194, 0.486)
}